<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <div class="row form-inline">
		<div class="col-md-6 form-group" >
			<label for="twitter-username">Username</label>
			<input type="text" class="form-control" placeholder="Twitter Username" id="twitter-username" ng-model="username" ng-keyup="keyPress($event.keyCode)" />
		</div>
	</div>
</div>