<div class="row">
	<div class="col-md-12">
		<h2>Places</h2>
		The locations are found based on your current location.
		<br/><br/>
		When you click a location, it only finds the trends based on it's coordinates, not the WOEID.
		<br/><br/>
		For this reason, you may click a location, but trends for another location are shown.
		<br/><br/>
		For more info <a target="_blank" href="https://dev.twitter.com/rest/reference/get/trends/place">Click here.</a>
	</div>
	<div class="col-md-8 col-md-offset-2" ng-repeat="place in places">
		<a href="#" ng-click="selectCentroid(place.centroid)">
			{{place.name}} <i class="glyphicon glyphicon-chevron-right"></i>
		</a>
	</div>
</div>