<div class="row">
	<div class="col-md-12">
		<h2>{{place_name}}</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table trend-table">
			<thead></thead>
			<tbody>
				<tr ng-repeat="trend in trends">
					<td>{{trend.name}}</td>
					<td><a target="_blank" href="{{trend.url}}">View <i class="glyphicon glyphicon-chevron-right"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>