<div class="row">
	<div class="col-md-12">
		<h2>{{username}}</h2>
		Most recent {{tweet_count}} tweets
	</div>
</div>
<div class="row">
	<div class="col-md-6 hours_graph centered">
		<div class="graphs"></div>
	</div>
	<div class="col-md-6">
		<h3>Most active hours</h3>
		<div ng-repeat="hour in timeline_ordered">{{hour.hour}} hr - {{hour.count}} tweets</div>
	</div>
</div>